server:
  port: 0

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    vault:
      enabled: false
    compatibility-verifier:
      enabled: false

directory:
  api:
    base-path: /api/entries
  sftp-import:
    enabled: false
